# Project proposal

---

Group name: Lena Binder, Julian Kulinsky, Sven Ritzmann (Gruppe C)

---

## Introduction

The introduction section includes

-   an introduction to the subject matter you're investigating
-   the motivation for your question (citing any relevant literature/study results ...)
-   the general (research) question you wish to explore
-   your hypotheses regarding the (research) question of interest.


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,
-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).

### Import libraries

In [ ]:
# import libraries
import pandas as pd
from pathlib import Path

### Import data

In [7]:
# Create path
PARENT_PATH = str(Path().resolve().parent) + "/"
PATH = "data/"
SUBPATH = "raw/"
FILE = "movies_netflix"
FORMAT = ".csv"

# read csv data file
df = pd.read_csv(PARENT_PATH + PATH + SUBPATH + FILE + FORMAT)

# Brief data overview
df.head()

,poster,title,certificate,runtime,genre,rating,about,director,stars,votes,gross_earn
0,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Shawshank Redemption,15,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"('Tim Robbins',), ('Morgan Freeman',), ('Bob G...","26,26,905",$28.34M
1,https://m.media-amazon.com/images/S/sash/4Fyxw...,The Dark Knight,12A,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,"('Christian Bale',), ('Heath Ledger',), ('Aaro...","25,98,173",$534.86M
2,https://m.media-amazon.com/images/S/sash/4Fyxw...,Inception,12A,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"('Leonardo DiCaprio',), ('Joseph Gordon-Levitt...","23,04,062",$292.58M
3,https://m.media-amazon.com/images/S/sash/4Fyxw...,Fight Club,18,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"('Brad Pitt',), ('Edward Norton',), ('Meat Loa...","20,71,088",$37.03M
4,https://m.media-amazon.com/images/S/sash/4Fyxw...,Pulp Fiction,18,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"('John Travolta',), ('Uma Thurman',), ('Samuel...","20,11,013",$107.93M

### Viewing Data

#### Overview

In [9]:
# Overview on dtypes of each feature
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   poster       5000 non-null   object
 1   title        5000 non-null   object
 2   certificate  5000 non-null   object
 3   runtime      5000 non-null   object
 4   genre        4970 non-null   object
 5   rating       5000 non-null   float64
 6   about        4986 non-null   object
 7   director     5000 non-null   object
 8   stars        5000 non-null   object
 9   votes        5000 non-null   object
 10  gross_earn   4585 non-null   object
dtypes: float64(1), object(10)
memory usage: 429.8+ KB

#### Description of the observations in the data set

Erkenntnis:

Wie man erkennen kann, werden alle Variablen mit Ausnahme von 'rating' als 'object' gekennzeichnet. 

'rating' wird dabei als 'float64' angezeigt. 

Dabei handelt es sich bei den Daten **runtime** (abzüglich 'min'), **rating**, **votes** und **gross_earn** um numerische Daten. 

Welche dementsprechend in den richtigen Datenformat Transformiert werden müssen.

Es sollten zusätzliche Spalten für die Variablen **Genre** und **Stars** angelegt werden, weil sie mehrere Personen beinhalten, dies hilft bei der Auswertung von Erkenntnissen

Variables:

- poster - link zu poster - löschen
- titel - Film titel - relevant für den kauf von den Lizenzen
- certificate - Altersfreigabe - 
- runtime - Spielzeit - Besseres Rating wenn mehr / weniger spielzeit
- genre - Genres
- rating - Bewertung
- about - Sentiment analysis?
- director - Regie
- stars - Darsteller
- votes - Anzahl der Bewertungen
- gross_earn - Brutto_verdienst

#### Conclusion

- The DataSet of the movies misses the **year** where the movies where published.

#### Original collected DataSet

Webscraped from IMDB in 2022

## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the relevant variable.
-   Exploratory data analysis and summary statistics for the relevant variables.
-   The visualization types (what kind of visualizations you will you use)

### Relevant Variables

In [ ]:
# Description (Why are they relevant variables)

In [ ]:
# Drop useless variables (Tell why)

### Exploratory data analysis and summary statistics

#### Transform data

This step is important for the Exploratory data analysis

In [ ]:
# Convert runtime, rating, votes and gross_earn into numerical dtypes

In [ ]:
# Split Genre and Stars in their own Variables

#### Identify outliers, nan-values, human-errors

In [ ]:
# outliers
# nan-values
# human-errors (e.g. runtime of the movie [there are Genres inside])

#### Relationship between variables

e.g. Relationship Matrix

#### Visualization Types

https://www.data-to-viz.com/

## Data dictionary

*Create a data dictionary for all the variables in your data set. You may fill out the data description table or create your own table with Pandas:*

<br>


| Name  |   Description	   	| Type   	|  Format 	|
|---	|---	          	|---	    |---	|
|   	|   	            |   	    |   	|
|   	|   	       	    |   	    |   	|
|   	|   	       	    |   	    |   	|


<br>


- `Type`: nominal, ordinal or numeric

- `Format`: int, float, string, category, date or object